
.form-control{
    border-color: #3598dc !important
}


.text-muted {
    font-weight: bold !important;
}
.visualizar-titulo{
    font-size: 16px !important;
    font-weight: bold !important;
}
.visualizar{
    font-size: 16px!important;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e1e1e5 !important;
    opacity: 1;
}

.select2-selection__choice {
    color: #242a4e !important;
    background: #c8d1e3 !important;
    border: 1px solid #9ca1af !important;
}
.pesquisar_select{
    border-color: #9aabff !important;
    background-color: #e1e1e5 !important;

    color: #242a4e !important;
    background: #c8d1e3 !important;
    border: 1px solid #9ca1af !important;
}

s.elect2-container--default .select2-results__option.select2-results__option--highlighted {
    background: #3598dc !important;
    color: #a7abc3 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #3598dc !important;
    border-color: #9aabff !important;
}




.btn-primary {
    color: #fff;
    background-color: #3598dc  !important;
    border-color: #3598dc  !important;
}

.btn-brand {
    color: #fff;
    background-color: #3598dc  !important;
    border-color: #3598dc  !important;
}

.select2-container--default .select2-results__option.select2-results__option--highlighted {
    background: #3598dc  !important;
    color: #f7f8fa  !important;
}


.pesquisar_select {
    border-color: #3598dc !important;
    background-color: #e1e1e5 !important;
    color: #242a4e !important;
    background: #c8d1e3 !important;
    border: 1px solid #9ca1af !important;
}

.btn-info {
    color: #fff;
    background-color: #3598dc !important;
    border-color: #3598dc !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color:#3598dc !important;
    border-color:#3598dc !important;
}

select.form-control:focus::-ms-value {
    color: #3598dc !important;
    background-color: #fff; }

    select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {
        border-color: #3598dc !important;
    }

    select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
        border: 1px solid  #3598dc !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        color:  #3598dc !important;
    }
    .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
        border: 1px solid  #3598dc !important;
    }
